<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [24]:
#Import the required libraries
import numpy as np
import pandas as pd

In [30]:
#Import the advertising dataset
df=pd.read_csv('Advertising Budget and Sales.csv',index_col=0)

#### 2: Analyze the dataset

In [31]:
#View the initial few records of the dataset
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [32]:
#Check the total number of elements in the dataset
df.size

800

#### 3: Find the features or media channels used by the firm

In [33]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 4)

In [34]:
#View the names of each of the attributes
df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [35]:
#Create a feature object from the columns
X_features=df[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [36]:
#View the feature object
X_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [37]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target=df['Sales ($)']

In [38]:
#View the target object
Y_target.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales ($), dtype: float64

In [40]:
#Verify if all the observations have been captured in the feature object
X_features.shape

(200, 3)

In [42]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [53]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X_features,Y_target,test_size=0.25,random_state=1)

In [54]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(150, 3) (50, 3) (150,) (50,)

#### 6: Create a model  to predict the sales outcome

In [55]:
#Create a linear regression model
lm=LinearRegression()
lm.fit(X_train,Y_train)

LinearRegression()

In [56]:
#Print the intercept and coefficients 
print('The coefficients are ',lm.coef_,' and the intercept is ',lm.intercept_)

The coefficients are  [0.04656457 0.17915812 0.00345046]  and the intercept is  2.8769666223179318

In [88]:
#Predict the outcome for the testing dataset
Y_pred=lm.predict(X_test).round(1)

In [90]:
print('Actual\tPredicted')
print()
for predict, actual in zip (Y_pred,Y_test):
    print (predict,"\t",actual)

Actual	Predicted

21.7 	 23.8
16.4 	 16.6
7.6 	 9.5
17.8 	 14.8
18.6 	 17.6
23.8 	 25.5
16.3 	 16.9
13.4 	 12.9
9.2 	 10.5
17.3 	 17.1
14.4 	 14.5
9.8 	 11.3
17.2 	 17.4
16.7 	 16.7
15.1 	 13.4
15.6 	 15.9
12.4 	 12.9
17.2 	 12.8
11.1 	 9.5
18.0 	 18.4
9.3 	 10.7
13.0 	 12.5
8.8 	 8.5
10.4 	 11.5
11.4 	 11.9
15.0 	 14.9
9.8 	 10.1
19.4 	 18.9
18.2 	 19.6
17.1 	 15.9
21.5 	 23.2
14.7 	 11.9
16.2 	 17.3
12.3 	 11.7
19.9 	 20.2
15.3 	 15.5
13.9 	 11.5
10.0 	 11.0
20.9 	 22.3
7.4 	 7.6
3.6 	 5.3
7.2 	 8.7
6.0 	 6.7
18.4 	 19.0
8.4 	 5.5
14.1 	 14.6
15.0 	 14.6
20.4 	 21.5
20.6 	 22.6
19.6 	 19.7

#### 7: Calculate the Mean Square Error (MSE)

In [91]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [100]:
#Calculate the MSE
mean_squared_error(Y_test,Y_pred)

1.9926000000000001

In [83]:
lm.score(X_test,Y_test)

0.9156213613792231

In [103]:
MSE=np.mean((Y_pred-Y_test)**2)

In [104]:
MSE

1.9926000000000001

In [105]:
import pickle as pkl
import joblib

In [106]:
#lets save our model for future use
joblib.dump(lm,'ADVERTISEMENT.pkl')

['ADVERTISEMENT.pkl']

In [107]:
#lets retrieve and use it 
saved_model=joblib.load('ADVERTISEMENT.pkl')

In [108]:
new_data=[[230.1,37.8,69.2]]

In [110]:
import warnings
warnings.filterwarnings('ignore')
saved_model.predict(new_data)

array([20.60242288])

We have successfully created a linear mode, determined the MSE and R-sqaured error.<br>
The MSE is low and the R-squared error value is close to 1 therefore our model is quite accurate